# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DEMO/TestPathfinding/Boost-1.68.0/boost/
DEMO/TestPathfinding/x64/
DEMO/TestPathfinding/bin/release/TestPathfinding.ipdb
DEMO/TestPathfinding/bin/release/TestPathfinding.iobj
DEMO/TestPathfinding/TestPathfinding.vcxproj.filters
DEMO/TestPathfinding/.vs/
*.skp
.vs/
Compilation/
